.dn-btn {
  padding: $spacing-medium $spacing-large;
  border: 0;
  border-radius: 2px;
  text-decoration: none !important;
  cursor: pointer;
  &:hover {
    opacity: .5;
  }
}

.dn-btn-primary {
  background: $blue;
  color: $white
}

.dn-btn-default {
  background: $silver;
  color: $white;
}
