%form{method: "POST"}
  %button.button{type: "submit"}
    Download CSV

.island
  %table
    %tr
      %th Domain Name
      %th State
      %th Expiration
      %th Whois privacy
      %th Auto renewal
    - if @domains.nil?
      You are currently managing zero domains under this account
    - else
      -@domains.each do |domain|
        %tr
          %td
            =domain.name
          %td
            =domain.state
          %td
            =domain.expires_on || "-"
          %td
            =domain.private_whois
          %td
            =domain.auto_renew

