.welcome
  %h1 Export your domains from DNSimple to CSV with ease
  %section.overview
    %img{src:"/images/overview.png"}

  .island
    %a.button{href: @api_client.authorize_url} Login with DNSimple
