.pb8
  %h1.f2.mb5.lh-title.tc Export your domains from DNSimple to CSV with ease
  .mw7.center
    %img.db{src:"/images/overview.png"}

.pa5.tc
  %a.dn-btn.dn-btn-primary{href: "/login"} Login with DNSimple
