.pb8
  %h1.f2.fw4.mb5.lh-title.tc
    Export your domains
    %strong.underline to CSV
    with ease
  .mw7.center
    %img.db{src:"/images/overview.png"}

.pa5.tc
  %a.dn-btn.dn-btn-primary{href: "/login"} Login with DNSimple

%p.tc Not sure how visible this page will be in the future. If it is, it would probably need a lot of more work.
