!!!5
%html{lang: 'en'}
  %head
    %title CSV domain export
    %meta{charset: 'utf-8'}
    %meta{:"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %meta{name:'viewport', content:'width=device-width,initial-scale=1'}
    %link{rel:'stylesheet', href:'https://make-it-nice.dnsimple.com/css/dnsimple-tachyons-1.0.0.min.css'}
  %body
    %header.dn-navbar.container.mb4
      .dn-navbar-branding
        %img.dib.v-mid.w2{src: "/images/logo.svg"}
        %span.dib.v-mid CSV Export
      .dn-navbar-nav
        -if current_account
          %a.link.dim.blue{href: "/logout"} Logout
    %main.container.min-vh-100
      =yield
    %footer.dn-footer.container
      .cf
        .fl.w-50
          %img.dib.v-mid.w2{src: "/images/logo.svg"}
          %span.dib.v-mid CSV Export
          %p.gray
            An add-on from DNSimple
        .fl.w-50.tr
          %a.link.dim{href: "https://dnsimple.com"}
            %img{src: "/images/dnsimple-logo-footer.svg"}

